html {
	height: 100%;
}
body {
  /*background: url('../img/main2.jpg');*/
  background-size: cover; /*fill image / allow repeat*/
  background-attachment: fixed; 
  background-repeat: no-repeat; /*image norepeat*/
  background-position: center center;

  backdrop-filter: blur(2px);

  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;
}

/*header logo*/
#hdn-header-container-logo {
	text-align: center;
}
#hdn-header-logo {
	width: 60%;
}
#hdn-header-logo-head{
	margin: 0;
	padding: 21px;
}

/*modal design*/
#modal-container {
	height: 95vh;
}
.modal {
	overflow: hidden;
	width: 30%;
	height: 30%;
	border: 3px solid white;
	border-radius: 2px;
	background-color: gray;

	cursor:move;
}
