html {
  height: 100%;
}
body {
  /*background: url('../img/main2.jpg');*/
  background-size: cover; /*fill image / allow repeat*/
  background-attachment: fixed; 
  background-repeat: no-repeat; /*image norepeat*/
  background-position: center center;

  backdrop-filter: blur(0px);

  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}

/*header logo*/
#hdn-header-container-logo {
  text-align: center;
}
#hdn-header-logo {
  width: 60%;
}
#hdn-header-logo-head{
  padding: 21px;
}

/*modal design*/
#modal-container {
  height: 95vh;
}
.modal {
  overflow: hidden;
  width: 15em;
  height: 7em;
  border: 1px solid white;
  border-radius: 1px;
  background-color: #E8D2E9;

  cursor:move;
}
.modal-head {
  padding-left: 3%;

  background-color: rgb(111,42,221);
  height: 1.2em;

  font-size: 1em;
  color: white;
  font-weight: lighter;

  display: flex;
    align-items: center;
    /*vertical-align: middle;  HOW????*/
}
